@use "./base.scss";

.article-content pre {
  white-space: pre !important;
  overflow-x: auto;
}

.article-content code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace !important;
}
